/* #############
* GLOBAL STYLE
###############*/
body {
    background-color: lightblue;
    display: flex;
    height: 97vh;
}

/* #####
* FORM
#######*/
.formName {
    text-transform: uppercase;
    margin: auto;
}
.configuration {
    display: flex;
    flex-direction: column;
    width: 17vw;
    margin: 1em 2em;
}
.button {
    background-color: purple;
    color: white;
    border: 0;
    height: 2em;
    border-radius: .5em;
    margin: .1em;
}
.input {
    height: 2em;
    margin: .5em;
}

.errorMessage {
    color: darkred;
    margin: .5em 0;
    text-align: center;
}

/* ######
* BOARD
########*/
.board {
    margin: auto;
}
.ligne {
    display: flex;
}
.cellule {
    width: 20px;
    height: 20px;
    background-color: white;
    border: 2px solid lightseagreen;
}
.cellule--black {
    background-color: black;
}
